case type
  when 'create'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- Floating Labels Form
          form( class="row g-3" method= method, action= url)
            label( for="role" class="col-md-4 form-label") Role
            .col-md-8
              input( type="text" class="form-control" id="role" name="role")
            label( for="description" class="col-md-4 form-label") Descripción
            .col-md-8
              textarea( class="form-control" id="description" name="description" style="height: 100px;" cols="30" rows="10") 
            label( for="status" class="col-md-4 form-label") Estado
            .col-md-8 
              select(id="status" name="status" class="form-select") 
                option(value="") 
                each status in statuses 
                  option(value=`${status.id}`)= status.name
            .col-md-4
            .col-md-8
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End floating Labels Form 

  when 'edit'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- Floating Labels Form
          form( class="row g-3" method= method, action= url)
            label( for="role" class="col-md-4 form-label") Estado
            .col-md-8
              input( type="text" class="form-control" id="role" name="role" value= role.name)
            label( for="description" class="col-md-4 form-label") Descripción
            .col-md-8
              textarea( class="form-control" id="description" name="description" style="height: 100px;" cols="30" rows="10")= role.description
            label( for="status" class="col-md-4 form-label") Estado
            .col-md-8 
              select(id="status" name="status" class="form-select") 
                each status in statuses 
                  if role.status_id == status.id
                    option(value=`${status.id}` selected)= status.name
                  else
                    option(value=`${status.id}`)= status.name
            .col-md-3
            .col-md-9
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End floating Labels Form 