case type
  when 'create'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- Floating Labels Form
          form( class="row g-3" method= method, action= url)
            label( for="status" class="col-md-4 form-label") Estado
            .col-md-8
              input( type="text" class="form-control" id="status" name="status")
            label( for="description" class="col-md-4 form-label") Descripción
            .col-md-8
              textarea( class="form-control" id="description" name="description" style="height: 100px;" cols="30" rows="10") 
            //- .text-center
            .col-md-4
            .col-md-8
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End floating Labels Form 

  when 'edit'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- Floating Labels Form
          form( class="row g-3" method= method, action= url)
            label( for="status" class="col-md-3 form-label") Estado
            .col-md-9
              input( type="text" class="form-control" id="status" name="status" value= status.name)
            label( for="description" class="col-md-3 form-label") Descripción
            .col-md-9
              textarea( class="form-control" id="description" name="description" style="height: 100px;" cols="30" rows="10")= status.description
            //- .text-center
            .col-md-3
            .col-md-9
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End floating Labels Form 