case type
  when 'create'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- User Create Form
          form( class="row g-3" method= method, action= url)
            label( for="username" class="col-md-4 form-label") Nombre Usuario
            .col-md-8
              input( type="text" class="form-control" id="username" name="username" required)
            label( for="email" class="col-md-4 form-label") Correo
            .col-md-8 
              div( class="input-group has-validation")
                span( class="input-group-text") @
                input( type="text" name="email" class="form-control" id="email" required)
            label( for="password" class="col-md-4 form-label") Contraseña
            .col-md-8
              input( type="password" class="form-control" id="password" name="password" required)
            label( for="status" class="col-md-4 form-label") Estado
            .col-md-8 
              select(id="status" name="status" class="form-select") 
                option(value="") 
                each status in statuses 
                  option(value=`${status.id}`)= status.name
            label( for="role" class="col-md-4 form-label") Role
            .col-md-8 
              select(id="role" name="role" class="form-select") 
                option(value="") 
                each role in roles 
                  option(value=`${role.id}`)= role.name
            .col-md-4
            .col-md-8
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End User Create Form

  when 'edit'
    mixin formVertical(title,url,method, buttonName) 
      h1= title
      .card 
        .card-body 
          h5.card-title= title
          //- User Edit Form
          form( class="row g-3" method= method, action= url)
            label( for="username" class="col-md-4 form-label") Nombre Usuario
            .col-md-8
              input( type="text" class="form-control" id="username" name="username" required)
            label( for="email" class="col-md-4 form-label") Correo
            .col-md-8 
              div( class="input-group has-validation")
                span( class="input-group-text") @
                input( type="text" name="email" class="form-control" id="email" required)
            label( for="password" class="col-md-4 form-label") Contraseña
            .col-md-8
              input( type="password" class="form-control" id="password" name="password" required)
            label( for="status" class="col-md-4 form-label") Estado
            .col-md-8 
              select(id="status" name="status" class="form-select") 
                option(value="") 
                each status in statuses 
                  option(value=`${status.id}`)= status.name
            label( for="role" class="col-md-4 form-label") Role
            .col-md-8 
              select(id="role" name="role" class="form-select") 
                option(value="") 
                each role in roles 
                  option(value=`${role.id}`)= role.name
            .col-md-4
            .col-md-8
              .d-grid.gap-2
                button( type="submit" class="btn btn-primary ")= buttonName
          //- End User Edit Form