aside(id="sidebar" class="sidebar")
  ul(class="sidebar-nav" id="sidebar-nav")
    li(class="nav-item")
      a(class="nav-link " href="/")
        i(class="bi bi-grid")
        span Dashboard
    //- End Dashboard Nav

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#status-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-menu-button-wide") 
        span Estados 
        i(class="bi bi-chevron-down ms-auto")

      ul(id="status-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/status")
            i(class="bi bi-circle")
            span Lista De Estados

        li
          a(href="/status/create")
            i(class="bi bi-circle")
            span Crear Estado

    //- End Estados Nav

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#roles-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-journal-text")
        Span Roles  
        i(class="bi bi-chevron-down ms-auto")

      ul(id="roles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/roles")
            i(class="bi bi-circle")
            span Lista De Roles

        li
          a(href="/roles/create")
            i(class="bi bi-circle")
            span Crear Role

    //- End Roles Nav

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#positions-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-layout-text-window-reverse")
        span Cargos 
        i(class="bi bi-chevron-down ms-auto")

      ul(id="positions-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/positions")
            i(class="bi bi-circle")
            span Lista De Cargos

        li
          a(href="/positions/create")
            i(class="bi bi-circle")
            span Crear Cargos
    //- End Cargos Nav

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#departments-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-bar-chart")
        span Departamento
        i(class="bi bi-chevron-down ms-auto")

      ul(id="departments-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/department")
            i(class="bi bi-circle") 
            span Lista De Departamentos

        li
          a(href="/department/create")
            i(class="bi bi-circle")
            span Crear Departamento

    //- End Departamentos Nav 

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#categories-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-gem")
        span Categorias
        i(class="bi bi-chevron-down ms-auto")

      ul(id="categories-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/categories")
            i(class="bi bi-circle")
            span Lista De Categorias

        li
          a(href="/categories/create")
            i(class="bi bi-circle")
            span Crear Categorias
   
    //- End Categorias Nav

    //- li(class="nav-heading") Pages

    li(class="nav-item")
      a(class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#")
        i(class="bi bi-person")
        span Usuarios
        i(class="bi bi-chevron-down ms-auto")

      ul(id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav")
        li
          a(href="/users")
            i(class="bi bi-circle")
            span Lista De Usuarios

        li
          a(href="/users/create")
            i(class="bi bi-circle")
            span Crear Usuarios
    //- End Usuarios Page Nav

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-faq.html")
        i(class="bi bi-question-circle")
        span F.A.Q

    //- End F.A.Q Page Nav 

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-contact.html")
        i(class="bi bi-envelope")
        span Contact

    //- End Contact Page Nav

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-register.html")
        i(class="bi bi-card-list")
        span Register

    //- End Register Page Nav 

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-login.html")
        i(class="bi bi-box-arrow-in-right")
        span Login

    //- End Login Page Nav 

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-error-404.html")
        i(class="bi bi-dash-circle")
        span Error 404

    //- End Error 404 Page Nav 

    li(class="nav-item")
      a(class="nav-link collapsed" href="pages-blank.html")
        i(class="bi bi-file-earmark")
        span Blank
    //- End Blank Page Nav
    //- End Sidebar-->  