header( id="header" class="header fixed-top d-flex align-items-center")

  div(class="d-flex align-items-center justify-content-between")
    a(href="index.html" class="logo d-flex align-items-center")
      img( src="/img/logo.png" alt="")
      span( class="d-none d-lg-block")= siteName
    i( class="bi bi-list toggle-sidebar-btn")
  //- End Logo 

  div(class="search-bar")
    form( class="search-form d-flex align-items-center" method="POST" action="#")
      input(type="text" name="query" placeholder="Search" title="Enter search keyword")
      button( type="submit" title="Search")
        i( class="bi bi-search")
  //- End Search Bar 

  nav( class="header-nav ms-auto")
    ul( class="d-flex align-items-center")

      li( class="nav-item d-block d-lg-none")
        a( class="nav-link nav-icon search-bar-toggle " href="#")
          i( class="bi bi-search")
      //- End Search Icon

      li( class="nav-item dropdown")
        a( class="nav-link nav-icon" href="#" data-bs-toggle="dropdown")
          i( class="bi bi-bell")
          span( class="badge bg-primary badge-number") 4
        //-  End Notification Icon

        ul( class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications")
          li( class="dropdown-header")
            You have 4 new notifications
            a( href="#") 
              span( class="badge rounded-pill bg-primary p-2 ms-2") View all

          li
            hr( class="dropdown-divider")

          li( class="notification-item")
            i( class="bi bi-exclamation-circle text-warning")
            div
              h4 Lorem Ipsum
              p Quae dolorem earum veritatis oditseno
              p 30 min. ago

          li
            hr( class="dropdown-divider")

          li( class="notification-item")
            i( class="bi bi-x-circle text-danger")
            div
              h4 Atque rerum nesciunt
              p Quae dolorem earum veritatis oditseno
              p 1 hr. ago

          li
            hr( class="dropdown-divider")

          li( class="notification-item")
            i( class="bi bi-check-circle text-success")
            div
              h4 Sit rerum fuga
              p Quae dolorem earum veritatis oditseno
              p 2 hrs. ago

          li
            hr( class="dropdown-divider")

          li( class="notification-item")
            i( class="bi bi-info-circle text-primary")
            div
              h4 Dicta reprehenderit
              p Quae dolorem earum veritatis oditseno
              p 4 hrs. ago

          li
            hr( class="dropdown-divider")

          li( class="dropdown-footer")
            a( href="#") Show all notifications

      //- End Notification Dropdown Items

      //- End Notification Nav

      li( class="nav-item dropdown")

        a( class="nav-link nav-icon" href="#" data-bs-toggle="dropdown")
          i( class="bi bi-chat-left-text")
          span( class="badge bg-success badge-number") 3
        //- End Messages Icon

        ul( class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages")
          li( class="dropdown-header") You have 3 new messages
            a( href="#")
              span (class="badge rounded-pill bg-primary p-2 ms-2") View all

          li
            hr(class="dropdown-divider")

          li( class="message-item")
            a(href="#")
              img( src="/img/messages-1.jpg" alt="" class="rounded-circle")
              div
                h4 Maria Hudson
                p Velit asperiores et ducimus soluta repudiandae labore officia est ut...
                p 4 hrs. ago

          li
            hr(class="dropdown-divider")

          li( class="message-item")
            a( href="#")
              img( src="/img/messages-2.jpg" alt="" class="rounded-circle")
              div
                h4 Anna Nelson
                p Velit asperiores et ducimus soluta repudiandae labore officia est ut...
                p 6 hrs. ago

          li
            hr(class="dropdown-divider")

          li( class="message-item")
            a( href="#")
              img( src="//img/messages-3.jpg" alt="" class="rounded-circle")
              div
                h4 David Muldon
                p Velit asperiores et ducimus soluta repudiandae labore officia est ut...
                p 8 hrs. ago

          li
            hr(class="dropdown-divider")

          li( class="dropdown-footer")
            a( href="#") Show all messages

        //- End Messages Dropdown Items

      //- End Messages Nav 

      li(class="nav-item dropdown pe-3")
        a( class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown")
          img( src="/img/profile-img.jpg" alt="Profile" class="rounded-circle")
          span( class="d-none d-md-block dropdown-toggle ps-2") K. Anderson
        //- End Profile Iamge Icon

        ul( class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile")
          li(class="dropdown-header")
            h6 Kevin Anderson
            span Web Designer
          li
            hr( class="dropdown-divider")
          li
            a( class="dropdown-item d-flex align-items-center" href="users-profile.html")
              i( class="bi bi-person")
              span My Profile
          li
            hr( class="dropdown-divider")
          li
            a( class="dropdown-item d-flex align-items-center" href="users-profile.html")
              i( class="bi bi-gear")
              span Account Settings
          li
            hr( class="dropdown-divider")
          li
            a( class="dropdown-item d-flex align-items-center" href="pages-faq.html")
              i( class="bi bi-question-circle")
              span Need Help?
          li
            hr( class="dropdown-divider")
          li
            a( class="dropdown-item d-flex align-items-center" href="#")
              i( class="bi bi-box-arrow-right")
              span Sign Out
        //- End Profile Dropdown Items 
        //- End Profile Nav 

  //- End Icons Navigation