meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title= `${siteName} | ${pageTitle}` 
meta(content="" name="description")
meta(content="" name="keywords")

//- Favicon
link( href="/img/favicon.png" rel="icon")
link( href="/img/apple-touch-icon.png" rel="apple-touch-icon")

//- Google fonts
link(href="https://fonts.gstatic.com" rel="preconnect")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet")

//- Vendor CSS Files
link(href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
link(href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet")
link(href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet")
link(href="/vendor/quill/quill.snow.css" rel="stylesheet")
link(href="/vendor/quill/quill.bubble.css" rel="stylesheet")
link(href="/vendor/remixicon/remixicon.css" rel="stylesheet")
link(href="/vendor/simple-datatables/style.css" rel="stylesheet")

//- Template Main CSS File
link(href="/css/style.css" rel="stylesheet")

//- My styles
block stylesheets