main
  .container
    section(class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4") 
      .container
        div(class="row justify-content-center")
          div(class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center")
            div(class="d-flex justify-content-center py-4")
              a( href="index.html" class="logo d-flex align-items-center w-auto")
                img( src="/img/logo.png" alt="")
                span( class="d-none d-lg-block")= siteName
            div( class="card mb-3")
              div( class="card-body")
                div( class="pt-4 pb-2")
                  h5( class="card-title text-center pb-0 fs-4") Ingrese a su cuenta
                  p( class="text-center small") Ingrese su nombre de usuario y contraseña para iniciar sesión
                form( class="row g-3 needs-validation" novalidate)
                  
                  div( class="col-12")
                    label( for="username" class="form-label") Usuario
                    div( class="input-group has-validation")                                         
                      span( class="input-group-text" id="inputGroupPrepend") @
                      input( type="email" name="username" class="form-control" id="username" required)
                      div( class="invalid-feedback") Please choose a username.

                  div( class="col-12")
                    label( for="password" class="form-label") Contraseña
                    input( type="password" name="password" class="form-control" id="password" required)
                    div( class="invalid-feedback") Please enter your password!
                  
                  div( class="col-12")
                    div( class="form-check")
                      input( class="form-check-input" name="remember" type="checkbox" value="true" id="remember")
                      label( class="form-check-label" for="remember") Recuerda me

                  div( class="col-12")
                    button( class="btn btn-primary w-100" type="submit")  iniciar sesión

                  div( class="col-12")
                    p( class="small mb-0") ¿No tienes cuenta? 
                      a( href="/register") Crea una cuenta
        