main#main.main
  .pagetitle
    h1= pageTitle 
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Inicio
        li.breadcrumb-item.active= pageTitle
  //- End Page Title
  section.section.dashboard
    .row
      block content