//- Vendor JS Files -->
script( src="/vendor/apexcharts/apexcharts.min.js")
script( src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
script( src="/vendor/chart.js/chart.min.js")
script( src="/vendor/echarts/echarts.min.js")
script( src="/vendor/quill/quill.min.js")
script( src="/vendor/simple-datatables/simple-datatables.js")
script( src="/vendor/tinymce/tinymce.min.js")
script( src="/vendor/php-email-form/validate.js")

//- Template Main JS File -->
script( src="/js/main.js")