include ./includes/config
include ./includes/mixins
doctype html
html(lang="es")
  head
    include ./partials/head
  body 
    block main  
    block script 
      //- Scripts
      include ./partials/script.pug
      //- End Scripts

