include ./includes/config
include ./includes/mixins
doctype html
html(lang="es")
  head
    include ./partials/head
  body 
    block header 
      //-  Header
      include ./partials/header.pug
      //-  End Header
    block aside
      //- Aside
      include ./partials/aside.pug
      //- End Aside
    block main  
      //- Main
      include ./partials/main.pug  
      //- End Main
    block footer
      //- Footer
      include ./partials/footer.pug
      //- End Footer
    block script 
      //- Scripts
      include ./partials/script.pug
      //- End Scripts

