extends ../../layout 
block content 
  if roles.length == 0
    h1 No hay #{title} creados
    .col-md-4 
      a(class="btn btn-primary" href= url)= buttonName
  else
    h1 Lista De #{title}
    .table-responsive
      table( id="example" class="table table-striped" style="width:100%")
        thead 
        tr
          td #
          td Nombre
          td Descripción
          td Acciones
        tbody 
          each role, index in roles 
            tr 
              td= index+1
              td= role.name
              td= role.description
              td 
                a(href=`/roles/edit/${role.id}` class="text-success")
                  i( class="bx bxs-edit")
                a(href=`/roles/delete/${role.id}` class="text-danger")
                  i( class="bx bxs-trash")

