extends ../../layout 
block content 
  if positions.length == 0
    h1 No hay #{title} creados
    .col-md-4 
      a(class="btn btn-primary" href= url)= buttonName
  else
    h1 Lista De #{title}
    .table-responsive
      table( id="example" class="table table-striped" style="width:100%")
        thead 
        tr
          td #
          td Nombre
          td Descripción
          td Acciones
        tbody 
          each position, index in positions 
            tr 
              td= index+1
              td= position.name
              td= position.description
              td 
                a(href=`/positions/edit/${position.id}` class="text-success")
                  i( class="bx bxs-edit")
                a(href=`/positions/delete/${position.id}` class="text-danger")
                  i( class="bx bxs-trash")

