extends ../../layout 
block content 
  if users.length == 0
    h1 No hay #{title} creados
    .col-md-4 
      a(class="btn btn-primary" href= url)= buttonName
  else
    h1 Lista De #{title}
    .table-responsive
      table( id="example" class="table table-striped" style="width:100%")
        thead 
        tr
          td #
          td Nombre
          td Correo
          td Estado
          td Role
          td Acciones
        tbody 
          each user, index in users 
            tr 
              td= index+1
              td= user.name
              td= user.email
              td= user.status_id
              td= user.role_id
              td 
                a(href=`/users/edit/${user.id}` class="text-success")
                  i( class="bx bxs-edit")
                a(href=`/users/delete/${user.id}` class="text-danger")
                  i( class="bx bxs-trash")

