extends ../../layout 
block content 
  if statuses.length === 0
    h1 No hay #{title} creados
    .col-md-4 
      a(class="btn btn-primary" href= url)= buttonName
  else
    h1 Lista De #{title}
    .table-responsive
      table( id="example" class="table table-striped" style="width:100%")
        thead 
        tr
          td #
          td Nombre
          td Descripción
          td Acciones
        tbody 
          each status, index in statuses 
            tr 
              td= index+1
              td= status.name
              td= status.description
              td 
                a(href=`/status/edit/${status.id}` class="text-success")
                  i( class="bx bxs-edit")
                a(href=`/status/delete/${status.id}` class="text-danger")
                  i( class="bx bxs-trash")

